<div class="tabs">
	<button [class.active]="tab === 'nueva'" (click)="tab = 'nueva'">Nueva Incidencia</button>
	<button [class.active]="tab === 'historial'" (click)="tab = 'historial'">Historial</button>
</div>
<div class="tab-content">
	<ng-container *ngIf="tab === 'nueva'">
		<app-incidence-form></app-incidence-form>
	</ng-container>
	<ng-container *ngIf="tab === 'historial'">
		<div class="incidence-grid">
			<div class="incidence-sidebar">
				<app-incidence-sidebar></app-incidence-sidebar>
			</div>
			<div class="incidence-viewer">
				<app-incidence-viewer [incidence]="selectedIncidence" [incidences]="incidences"></app-incidence-viewer>
			</div>
		</div>
	</ng-container>
</div>
