<header class="header">
  <div class="logo">
    <a routerLink="/"><img src="assets/LogoCH.png" alt="Logo"></a>
  </div>
  <nav class="nav">
    <ul>
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/profile">Perfil</a></li>
  <li *ngIf="isAdmin"><a routerLink="/apartment-list">Lista de apartamentos</a></li>
  <li *ngIf="isAdmin"><a routerLink="/client-list">Lista de clientes</a></li>
  <li *ngIf="isAdmin"><a routerLink="/incidence-list">Lista de incidencias</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
    </ul>
  </nav>
  <div class="cta">
  <a routerLink="/login" class="cta-button">Iniciar Sesión</a>
  <a routerLink="/register" class="cta-button ms-2">Regístrate</a>
  </div>
</header>